@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Figtree';
}

@keyframes navComeIn {
    0% {
        opacity: 0;
        right: -100%;
    }
    100% {
        opacity: 100;
        right: -200%;
    }
}

@keyframes navGoOut {
    0% {
        opacity: 100;
        right: -200%;
    }
    100% {
        opacity: 0;
        right: -100%;
    }
}

.nav-hidden {
    animation: navGoOut 0.6s forwards;
    pointer-events: none;
}

.nav-item {
    &:hover {
        .nav-hidden {
            animation: navComeIn 0.6s forwards;
        }
    }
}


.invert-colors:not(.dark *){
    -webkit-filter: invert(1);
   filter: invert(1);
}

.animate-spin:is(.circle-text) {
    animation-duration: 20s;
}

.transition-extra{
    transition: all 0.5s !important;
}
