@tailwind base;
@tailwind components;
@tailwind utilities;

.button-gradient {
    background-image: linear-gradient(to bottom right, #FF053B, #FF426C);
    box-shadow: 0 3px 5px 3px rgba(255, 5, 59, .5);
    z-index: 0;
}

.button-circle{
    position: relative;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -80px;
        height: 0px;
        width: 0px;
        transition-duration: .7s;
        background-color: black;
        border-radius: 50%;
    }

    &:hover{
        &::after {
            height: 350%;
            width: 150%;
        }
    }
    
}

@keyframes comeIn {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
    }
}

.come-in {
    animation: comeIn .3s forwards;
}

@keyframes getOut {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-500px);
    }
}

.get-out {
    animation: getOut .3s forwards;
}

.small-slide-hover{
    & img, & button {
        transition-duration: .3s;
    }
}

.small-slide-hover:hover{
    & img:not(.rounded-full){
        transform: scale(1.05);
    }

    & button {
        background-color: #FF053B;
        color: white;
    }
}