.intro {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    & div {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & img {
        border-radius: 20px;
        width: 45%;
    }

    & span {
        font-size: 20px;
    }

    & h1 {
        font-weight: 600;
        font-size: 64px;

        @media (max-width: 1200px) {
            font-size: 50px;
        }
    }

    & p {
        font-size: 16px;
        color: var(--text-secondary);
        line-height: 24px;
        width: 80%;
    }

    & button {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        font-size: 16px;
        background-color: var(--primary);
        color: white;
        transition: background-color .25s;

        &:hover {
            background-color: var(--text-primary);
        }
    }


    @media (max-width: 990px) {
        flex-direction: column;

        & img, & div {
            width: 100%;
        }

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        & button {
            margin-top: 20px;
        }

    }
}