.dropdown-container{
    position: relative;
}

.dropdown-body {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    z-index: 999;
    position: absolute;
    top: 100%;
    /* transform: scaleY(0); */
    animation: closeMenu .2s forwards;
    transform-origin: top;
    display: flex;

    & span {
        cursor: pointer;
        margin: 5px 0px;
        &:hover{
            color: var(--primary);
        }
    }
}

.from-right-dd-body {
    left: 300px;
    top: 0px;
}

.dropdown-button {
    display: flex;
    gap: 5px;
    align-items: center;

    & i {
        font-size: 12px;
    }
}

.dropdown-button:hover + .dropdown-body, .dropdown-body:hover {
    animation: openMenu .35s forwards;
}

@keyframes openMenu {
    0%{
        transform: scaleY(.3);
    }100%{
        transform: scaleY(1);
    }
}

@keyframes closeMenu {
    0%{
        transform: scaleY(.3);
    }100%{
        transform: scaleY(0);
    }
}

.big-dd-container {
    .dropdown-body {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        padding: 20px;

        &>div {

            & h4 {
                margin-bottom: 10px;
                font-size: 18px;
                width: fit-content;
            }

            & h4:not(:nth-child(1)) {
                margin-top: 20px;
            }

            & li {
                width: fit-content;
                margin: 10px 0px;
                cursor: pointer;
                transition: color .3s;
                
                &:hover{
                    color: var(--primary);
                }
            }
        }
    }
}