:root{
    --bg: #fff;
    --secondary: #1B6392;
    --primary: #FA8232;
    --primary-100: #FFE7D6;
    --warn-300: #F3DE6D;
    --warn-400: #EFD33D;
    --warn-500: #EBC80C;
    --danger-500: #EE5858;
    --sold-400: #929FA5;
    --gray-50: #F2F4F5;
    --gray-300: #ADB7BC;
    --gray-600: #5F6C72;
    --gray-800: #303639;
    --gray-900: #191C1F;
    --seperator-color: rgba(255, 255, 255, .3);
    --font: 'Public Sans', 'Times New Roman', Times, serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.general-padding{
    padding: 0 1rem;

    @media (min-width: 650px) {
        padding: 0 3.5rem;
    }

    @media (min-width: 1100px) {
        padding: 0 10rem;
    }
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    font-family: var(--font);
    padding-bottom: 150px;
}

button{
    border: none;
    cursor: pointer;
    background-color: inherit;
}

a{
    color: black;
}

/** DISCOUNT ITEMS */

.off-text {
    background-color: var(--warn-400);
    text-align: center;
    border-radius: 2px;
    color: black;
    font-weight: 600;
    position: absolute;
}

.off-text-big {
    height: 40px;
    width: 100px;
    line-height: 40px;
    top: 20px;
    right: 20px;

    @media (max-width: 450px) {
        top: 7px;
        right: 7px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
}

.off-text-small {
    width: 75px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    top: 30px;
}