@tailwind base;
@tailwind components;
@tailwind utilities;

.range-slider__thumb {
    background-color: #111827 !important;
    height: 15px !important;
    width: 15px !important;
}

.range-slider__range {
    background-color: #111827 !important;
    height: 5px !important;
}

.range-slider{
    height: 5px !important;
}

.dark {
    .range-slider__thumb {
        background-color: white !important;
    }

    .range-slider__range {
        background-color: white !important;
    }

    .range-slider {
        background-color: rgba(255, 255, 255, .3);
    }
}

.banner {
    background-image: url('./assets/img/banner.jpg');
}


@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}


.hidden-filter{
    @media screen and (max-width: 768px) {
        display: none;
        animation: slideOut 0.5s forwards;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

.shown-filter{
    @media screen and (max-width: 768px) {
        animation: slideIn 0.5s forwards;
        position: absolute;
        background-color: white;
        z-index: 999;
        width: 100% !important;
        padding: 20px 100px 0px 50px;
    }
}

.dark {
    .shown-filter {
        background-color: #111827;
    }
}

.shown-filter body {
    overflow: hidden;
}

.dark {
    & body {
        background-color: #111827;
    }

    .logo {
        filter: grayscale(1) invert(1) saturate(1);
    }
}